* {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  font-family: monospace;
  display: block;
  font-size: 0.8rem;
  line-height: 2;
  margin: 0;
  text-align: center;
  width: 80%;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
}
