section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li,
ul {
  list-style-type: none;
  margin: 1;
  padding: 0;
  text-align: auto;
}

.list {
  line-height: 1.6;
  margin: 1em auto 1em 2em;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}

.list__tag {
  border: 1px solid black;
  padding: 2px;
  margin-bottom: 3px;
  border-radius: 1px;
  background-color: whitesmoke;
}

.list__tag:hover {
  background-color: rgb(77, 80, 78);
  color: whitesmoke;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 30%);
}
